In [1]:
# Basic libraries
import numpy as np
import pandas as pd

# Testing dataset Elbow zone
df = pd.read_csv("ClimateDataElbowzone.csv")

df

,DateTime,Modeled Historical,Historical Range (low),Historical Range (high),RCP 2.6 Median,RCP 2.6 Range (low),RCP 2.6 Range (high),RCP 4.5 Median,RCP 4.5 Range (low),RCP 4.5 Range (high),RCP 8.5 Median,RCP 8.5 Range (low),RCP 8.5 Range (high)
0,1950-01-01,531.50,418.05,700.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951-01-01,566.99,458.57,738.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952-01-01,588.31,474.92,760.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953-01-01,573.97,464.87,750.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954-01-01,602.96,484.05,671.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2096-01-01,NaN,NaN,NaN,636.59,471.41,794.58,696.29,484.60,854.11,721.64,528.62,988.42
147,2097-01-01,NaN,NaN,NaN,667.77,513.16,830.29,626.52,497.02,804.64,704.97,513.74,820.26
148,2098-01-01,NaN,NaN,NaN,635.24,518.56,847.44,637.71,482.75,876.45,699.20,539.64,830.81
149,2099-01-01,NaN,NaN,NaN,562.52,473.34,753.96,631.99,520.70,787.52,709.17,461.04,885.51
150,2100-01-01,NaN,NaN,NaN,635.98,488.53,808.59,682.95,543.92,827.29,637.03,464.09,856.72