In [3]:
# Basic libraries
import numpy as np
import pandas as pd

df = pd.read_csv("estimateddata20y.csv", index_col = "REF_DATE")

df

,GEO,DGUID,Harvest disposition,Type of crop,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
REF_DATE,,,,,,,,,,,,,,,
2000,Canada,2016A000011124,Seeded area (acres),Barley,Acres,28,units,0,v46457,1.1.6,12605600,NaN,NaN,NaN,0
2001,Canada,2016A000011124,Seeded area (acres),Barley,Acres,28,units,0,v46457,1.1.6,11614300,NaN,NaN,NaN,0
2002,Canada,2016A000011124,Seeded area (acres),Barley,Acres,28,units,0,v46457,1.1.6,12528700,NaN,NaN,NaN,0
2003,Canada,2016A000011124,Seeded area (acres),Barley,Acres,28,units,0,v46457,1.1.6,12329400,NaN,NaN,NaN,0
2004,Canada,2016A000011124,Seeded area (acres),Barley,Acres,28,units,0,v46457,1.1.6,10952200,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,Canada,2016A000011124,Seeded area (acres),"Wheat, winter seeded in fall",Acres,28,units,0,v62427018,1.1.44,1545000,NaN,NaN,NaN,0
2018,Canada,2016A000011124,Seeded area (acres),"Wheat, winter seeded in fall",Acres,28,units,0,v62427018,1.1.44,1395800,NaN,NaN,NaN,0
2019,Canada,2016A000011124,Seeded area (acres),"Wheat, winter seeded in fall",Acres,28,units,0,v62427018,1.1.44,1346000,NaN,NaN,NaN,0
2020,Canada,2016A000011124,Seeded area (acres),"Wheat, winter seeded in fall",Acres,28,units,0,v62427018,1.1.44,1574800,NaN,NaN,NaN,0
2021,Canada,2016A000011124,Seeded area (acres),"Wheat, winter seeded in fall",Acres,28,units,0,v62427018,1.1.44,1448500,NaN,NaN,NaN,0